:local(.pagination) {
  list-style: none;
  display: flex;
  margin: 5px 0;
  padding: 0;
  justify-content: center;
}

:local(.paginationItem) {
}

:local(.paginationLink) {
  background: #fff;
  border: 2px dashed transparent;
  padding: 5px 10px;
  margin: 0 5px;
  display: block;
}

:local(.paginationLink).current {
  border-color: green;
}
